<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <section th:replace="layout/botonesAgregar :: botonesAgregar"></section>
        <section th:replace="layout/agregarCliente :: agregarCliente"></section>
        <section th:replace="layout/listadoClientes :: listadoClientes"></section>
        
        <footer th:replace="layout/plantilla :: footer"></footer>
                
    </body>
</html>













<!--<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/agregar}" th:text="#{persona.crear}"></a>
        
        <div th:if="${personas != null and !personas.empty}">
            <table border="1">
                <tr>
                    <th th:text="#{persona.nombre}">Nombre</th>
                    <th th:text="#{persona.apellido}">Apellido</th>
                    <th th:text="#{persona.email}">Mail</th>
                    <th th:text="#{persona.telefono}">Telefono</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{accion.editar}">Editar</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{accion.eliminar}">Eliminar</th>
                <tr/>

                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.nombre}">Mostrar Nombre</td>
                    <td th:text="${persona.apellido}">Mostrar Apellido</td>
                    <td th:text="${persona.email}">Mostrar Email</td>
                    <td th:text="${persona.telefono}">Mostrar Telefono</td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a  th:href="@{/editar/} + ${persona.idPersona}" th:text="Editar"></a></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a  th:href="@{/eliminar(idPersona=${persona.idPersona})}" th:text="Eliminar"></a></td>
                </tr>
            </table>
        </div>
        <div th:if="${personas == null or personas.empty}">
            [[#{persona.lista-vacia}]]
        </div>-->